{% extends "base.html" %}

{% block content %}
<h1 class="h2">Transform</h1>
<p class="lead">Transform, Update your code to something better</p>
<div class="row">
    <a class="col-md-4" href="{% url "trans_web" %}">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Transform Images to HTML</h5>
                <p class="card-text">Some quick example content.</p>
            </div>
        </div>
    </a>
</div>
{% endblock content %}